@media screen and (min-width: 768px) {
    p {
        font-size: 1.6rem;
        color: rgb(37, 50, 71);
    }

    section.order,
    section.policy,
    hr {
        width: 90%;
    }

    ul li,
    ol li {
        width: 95%;
    }

}